<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav" th:fragment="navbar">
    <a class="logo" href="/product/list">SpringMall</a>
    <a href="/product/list">List</a>
    <a href="/product/write">Write</a>
    <a href="/register">회원가입</a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    <a href="/my-page">마이페이지</a>
    <form action="/product/search" method="post" >
        <input type="text" name="searchKeyword" id="searchKeyword" style="display : inline">
        <button type="submit">검색</button>
    </form>

    <h4>카테고리</h4>

    <div th:each="category : ${categories}">
        <a th:href="@{|/product/items/category/${category.id}|}" th:text="${category.title}"></a>
    </div>
    <a href="/cart">장바구니</a>

</div>



</body>
</html>