<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 추가</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{ nav::navbar}"></div>
<form action="/product/add" method="post">

    <input type="text" name="title">
    <input type="text" name="price">

    <label for="category">Category:</label>
    <select id="category" name="categoryId">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
    </select><br><br>
    <button type="submit">추가</button>
</form>
</body>
</html>